@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Noto+Serif&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth; /*For smooth scrolling*/
  font-family: "Jost", sans-serif;
  font-weight: 100;
  box-sizing: border-box;
}
section {
  width: 100%;
  height: 100vh;
}
header {
  position: sticky;
  top: 0;
  z-index: 9999;
}
h2 {
  font-family: "Jost", sans-serif;
  /* font-size: 30px; */
}
h3 {
  font-family: "Jost", sans-serif;

  /* font-size: 25px; */
}
p {
  /* font-size: larger; */
  font-family: "Jost", sans-serif;
}
.header {
  background-color: #1f1f1f;
  
}
.place {
  background-color: rgb(95, 94, 94);
  height: calc(100vh - 7em);
}
#nav_bar {
  /* width: 100%; */
  height: 4em;
  display: flex;
  /* padding: 10px; */
  justify-content: space-between;
  align-items: center;
  color:  #1f1f1f;
  /* background-color: rgb(0, 179, 255); */
}

li.nav_item_list:hover{
  background-color: rgb(90, 90, 90);
  border-radius: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.nav_item_list a {
  text-decoration: none;
  color: white;
}
#div1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
}
#combinedlogo img{
    /* margin-left: 48px; */
    margin-left: 1em;
    margin-top: 0.25em;
    width: 100%;
    height: 3em;
    
}
/* #combinedlogo {
  padding: 1em 2em;
} */
#nav_items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.nav_item_list {
  padding: 20px;
  font-size: 1em;
}

#join_us_button {
  margin-right: 1em;
  font-size: 0.75em;
  color: #A028FF;
  /* font-weight: bolder; */
  /* background-color: #D7A5FF; */
  padding: 0.25em 0.5em;
  /* border: 2px solid #D7A5FF; */
    /* margin-left: 30px;
  margin-right: 60px; */
  border-radius: 7px;
    background: linear-gradient(to right, #A028FF 50%, #D7A5FF 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#join_us_button:hover {
    /* border-width: 4px; */
    /* margin-left: 48px; */
    text-decoration: none !important;
    background-color: #A028FF;
    background-position: left bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    color: white;
    /* border-color: yellow; */
}
.bar {
  display: block;
  width: 25px;
  margin: 5px 0px;
  height: 3px;
  transition: all 0.3s ease;
  background-color: white;
}
/* .bar:hover {
    height: 4px;
    width:30px;
} */
#hamburger_section {
  display: none;
}
@media (max-width: 1200px) {
  #hamburger_section {
    display: block;
    justify-self: flex-end;
  }
  /* #nav_menu{
        display: none;
    } */
  #IITRlogo {
    display: none;
  }
  #MARGlogo {
    align-items: center;
    justify-content: center;
  }
  /* #combinedlogo{
        width: 300px;
    } */
  #hamburger_section.active .bar:nth-child(1) {
    transform: translateY(8.4px) rotate(45deg);
    /* width: 40px;
        height: 3px; */
  }
  #hamburger_section.active .bar:nth-child(2) {
    opacity: 0%;
  }
  #hamburger_section.active .bar:nth-child(3) {
    transform: translateY(-8.4px) rotate(-45deg);
    /* width: 40px;
        height: 3px; */

    }
    #nav_bar{
        display: flex;
        flex-direction: column;
    }
    #div2{
        display: none;
        /* left:-100%; */
    }
    #div2.active{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #1f1f1f;
        transition: 0.5s ease-in;
        position: relative;
    }
    #nav_items{
        /* top:70px; */
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    #join_us_button{
        margin-left: 0;
    }
    


    
}


.title_marg{
    /* margin:200px; */
    width: 100%;
    height: 544px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
    
    background-image: url(image/ezgif.com-optimize+\(2\).gif);

  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;

  /* Background image doesn't tile */
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
on the container's size */
  background-size: cover;

  /* Set a background color that will be displayed
while the background image is loading */
background-color: #1f1f1f;
}
#Main{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 60%;
  margin: 20vh 0;
  gap: 2em;
}
.introduction h1 {
  font-weight: 700;
}
.quotation{
    background-color: #1f1f1f;
    color: white;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.big {
  width: 100%;
  display: flex;
  padding: 1em;
  gap: 1em;
}
.big .slider{
  width: 75%;
  background-color: yellow;
}

.box{
  background-color: #F3E4FF;
  width: 25%;
  /* height: 576px; */
  border: 5px solid #F3E4FF;
  border-radius: 5px;
  
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79); */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

}
/* .box:hover{
  border-width: 0px;
  outline-color: #F3E4FF;
  outline-style: solid;
  outline-width: 2px;
} */
.box h3 {
  font-size: 36px;
}
.inner_boxes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:10px;
}

.inner_box a{
  color: black;
  cursor: pointer;
  text-decoration: none;
}
.inner_box a:hover,a:focus{
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.arrows{
  /* position:inherit; */
  /* bottom: 0;
  right:0; */
  margin-top: 30px;
  justify-self: flex-end;
  align-self: flex-end;
}
.arrow {
  border: solid #260044;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 8px;
}

.right {
  transform: rotate(-45deg); 
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.leftarrowbutton{
  background-color: #F3E4FF;
  border: none;
}
.leftarrowbutton:hover{
  cursor: pointer;
}
.rightarrowbutton{
  background-color: #F3E4FF;
  border: none;
}
.rightarrowbutton:hover{
  cursor: pointer;
}

.black {
  width: 20%;
  background-color: black;
  height: 100vh;
}
.white {
  width: 80%;
  background-color: white;
  height: 100vh;
}

.title-people {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}
.hero-people {
    height: 70vh;
}

.label {
  background-color: #260044;
  color: white;
  width: 15%;
  padding: 0.5em 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
}
.main-prof {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.prof-content {
  position: absolute;
  width: 525px;
  background-color: #260044;
  border-radius: 10px;
  
  
}
.o-content {
    
    width: 525px;
    background-color: #260044;
    border-radius: 10px;
    
  }
.prof-preview {
    
    width: 100%;
    top: 242px;
    position: absolute;
    background-color: #260044;
  font-family: "Jost";
  color: white;
  padding: 1em 1em 0em 1em;
  border-radius: 0 0 10px 10px;
  

}
.prof-preview button {
  float: right;
  margin-right: 1em;
  background-color: #d7a5ff;
  color: #260044;
  padding: 0.25em;
  border-radius: 10px;
  position: relative;
  top: -3em;
}
.prof-preview a{
  text-decoration: none;

}
.o-preview {
    
    
    background-color: #260044;
  font-family: "Jost";
  color: white;
  padding: 1em;
}
.o-preview a{
  text-decoration: none;
}
.o-preview button {
  float: right;
  margin-right: 1em;
  background-color: #d7a5ff;
  color: #260044;
  padding: 0.25em;
  border-radius: 10px;
  position: relative;
  top: -2em;
}
.line {
  background-color: white;
  height: 1px;
  width: 70%;
}
.o-line {
    background-color: white;
    height: 1px;
    width: 70%;
  }
.other-cards {
  margin-top: 4em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.prof {
  position: absolute;
}
.overlay {
  color: white;
  /* height: 242px; */
  font-size: 0.7em;
  position: absolute;
  top: 242px;
  width: 525px;
  height: 0;
   overflow: hidden;  
  transition: 0.5s ease;
  background-color: #260044;
}
#image {
  width: 525px;
  height: 242px;
}
.prof-content:hover .overlay {
  height: 242px;
  top: 0;
}
.overlay p {
  font-family: "Jost";
  color: white;
  text-align: center;
}
.grey {
    width: 25%;
    height: 400px;
    background-color: #333;
}
.parent {
  display: flex;
  position: relative;
  height: 100vh;
  z-index: 1;
  
}
.profile-top {
  position: relative;
    bottom: 100vh;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 2;

}
.blank {
  width: 10%;
}
.grey {
    background-color: #333;
    width: 25%;
    height: 500px;
}
.yellow {
  
    display: flex;
    flex-direction: column;
    /* align-items: center;  */
    padding: 2em 2em 0 4em;
    /* justify-content: center; */
    width: 65%;
    height: 100vh;
    flex-wrap: wrap;
}

.profile-body {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 4em);
  /* overflow: hidden; */
}
.name p{
  color: #9112DF;
  ;
}
.name h1 {
  font-weight: bold;
  font-size: 3em;
}
.purple-line {
  background-color: #9112DF;
  height: 1px;
  width: 100%;
}
.about-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.links ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  
}
.links li{
  padding: 1em;

}
.links button {
  border: none;
  background-color: white;
}
.links button:hover {
  color: #9112DF;
  cursor: pointer;
}
.links button:active {
  background-color: #d7a5ff;
}
.tabcontent {
  display: none;
  
}

.about-content
{
  height: 40%;
}
.footersection{
  margin-top: 1.5em;
  display: flex;
  justify-content: space-evenly;
  background-color: #1f1f1f;
  flex-wrap: wrap;
}
.linefooter{
  height: 1px;
  background-color:#A028FF;
  width: 100%;
  
}
.copyrightsection {
  background-color: #1f1f1f;
  color: aliceblue;
  padding: 0.5em 1em;
}
.copyrightsection a{
  text-decoration: none;
  color: aliceblue;
}
.copyrightsection a:hover,a:visited,a:focus{
  text-decoration: underline;
  color: aliceblue;
}
.footersection h4{
  font-size: 1.2em;
  text-align: center;
  font-family: 'Jost', sans-serif;
  /* color:#D7A5FF; */
  -webkit-text-stroke-color: #9112DF;
  -webkit-text-fill-color: #D7A5FF;
  -webkit-text-stroke-width: 0.5px;
  margin: 1em 0;
}
.footersection ul{
  list-style-type: none;
  text-align: center;
  color: white;
}
.quicklinks li{
  padding: 0.5em 0;
  font-size: 0.9em;
}
.quicklinks a{
  color:white;
  text-decoration: none;
}
.quicklinks a:hover,a:focus{
  text-decoration: underline;

}
.quicklinks li:hover{
  background-color: rgb(93, 93, 93);
  border-radius: 10px;
}
.findus ul{
  display: flex;
  flex-direction: row;
  gap: 2em;
}
.findus li{
  
  /* padding: 2em; */

  font-size: 1.25em;
}
.findus a{
  color: white;
  text-decoration: none;
  padding: 0.25em 0.5em;
}
.findus a:hover {
  border: #9112DF 1px solid;
  /* border-radius: 50%; */
}
.findus li a .fa-facebook:hover{
  color:rgb(0, 132, 255);
  transition: all 0.5s ease-in;
  
}
.findus li a .fa-instagram:hover{
  color:rgb(255, 7, 222);
  transition: all 0.5s ease-in;
  
}
.findus li a .fa-linkedin:hover{
  color:rgb(0, 132, 255);
  transition: all 0.5s ease-in;
  
}
.findus li a .fa-youtube:hover{
  color:red;
  transition: all 0.5s ease-in;
  
}
.mapandcontactus{
  width: 100%;
  /* display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:5em; */
  display: grid;
  grid-template-columns: auto auto;
  padding-top: 2em;
  padding-bottom: 2em;
}
.contactus{
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.contactus li{
  list-style-type: none;
  /* display: block; */
  margin: 2em;
  font-size: x-large;
}
.map{
  width: 100%;
  text-align: center;
}
@media (max-width:1000px) {
  .mapandcontactus{
      grid-template-columns: auto;
      /* overflow-x: hidden; */
  }
  .map{
      width: 100%;
      overflow-x: hidden;
  }
}