<footer>
    <div class="footersection">
        <div class="footerelement">
            <div class="quicklinks">
                <h3>QUICK LINKS</h3>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/people">People</a></li>
                    <li><a href="/resources">Resources</a></li>
                    <li><a href="/research">Research</a></li>
                    <li><a href="/events">Events</a></li>
                </ul>
            </div>
        </div>
        <div class="footerelement">
            <div class="aboutus">
                <h3>ABOUT US</h3>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>Lorem, ipsum</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </div>
        <div class="footerelement">
            <div class="findus">
                <h3>FIND US</h3>
                <ul>
                    <li><a target="_blank" href=""><i class="fa fa-facebook"></i> </a></li>
                    <li><a target="_blank" href=""><i class="fa fa-instagram"></i> </a></li>
                    <li><a target="_blank" href=""><i class="fa fa-linkedin"></i> </a></li>
                    <li><a target="_blank" href=""><i class="fa fa-youtube"></i> </a></li>
                </ul>
            </div>
        </div>
        <div class="footerelement">
            <div class="marglogo">
                <img src="image/FooterLogo.png" alt="LOGO not found">
            </div>
        </div> 
        
    </div>
    <div class="linefooter"></div>
    
    <div class="copyrightsection">HIIIIIIIIIII</div>
</footer>