<header>
  <div class="header">
      <div id="nav_bar" >
          <div id="div1">
              <!-- <div id="marglogo"><img src="images/marglogo.png" alt="MARG logo" height="70px"></div> -->
              <!-- <div id="IITRlogo"><img src="images/iitrlogo.png" alt="IITR logo" height="50px"></div> -->
              <div id="combinedlogo"><img src="margiitr logo.svg" alt="Logo" height="45px" width="196"></div>
          
          
              <div id="hamburger_section">
                  <!-- <div class="hamburger"><span class="bar"></span></div>
                  <div class="hamburger"><span class="bar"></span></div>
                  <div class="hamburger"><span class="bar"></span></div> -->
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
              </div>
          </div>
          <div id="div2">
              <div id="nav_menu">
                  <ul id="nav_items">
                      <li class="nav_item_list"><a class="nav_item" href="/">Home</a></li>
                      <li class="nav_item_list"><a class="nav_item" href="#about">About</a></li>
                      <li class="nav_item_list"><a class="nav_item" href="/people">People</a></li>
                      <li class="nav_item_list"><a class="nav_item" href="/research">Research</a></li>
                      <li class="nav_item_list"><a class="nav_item" href="/resources">Resources</a></li>
                      <a class="nav_item_list" href="#git"><button id="join_us_button">Join Us</button></a>
                      <!-- onmouseover="this.style.color='#ffffff'" onmouseout="this.style.color='#c8c8c8'" -->
                  </ul>
              </div>
          </div>
          
      </div>
      

  </div>
  
</header>
<script>
    var bar = document.querySelectorAll(".bar");
    var hamburgersection = document.querySelector("#hamburger_section");
    hamburgersection.onmouseover = function () {
      for (let j = 0; j < 3; j++) {
        bar[j].style.height = "4px";
        bar[j].style.width = "30px";
      }
    };
    hamburgersection.onmouseout = function () {
      for (let j = 0; j < 3; j++) {
        bar[j].style.height = "3px";
        bar[j].style.width = "25px";
      }
    };

    var div2 = document.querySelector("#div2");
    hamburgersection.addEventListener("click", () => {
      hamburgersection.classList.toggle("active");
      div2.classList.toggle("active");
    });
  </script>
