<%-include("./head.ejs")%>
<div class="main-others">
    <div class="o-content">
        <div class="prof-image">
            <img src="sample.png">
        </div>
        <div class="o-preview">
            <h4>Dr. Manish Kumar Asthana</h4>
            <div class="o-line"></div>
            <p>Assistant Professor</p>
            <button>Visit Profile</button>
        </div>
    </div>
    
</div>