
      <div class="about-main">
        <div class="name">
          <p>RESEARCH SCHOLAR</p>
          <h1>Sambath RD</h1>
        </div>
        <div class="detail-name">
          <p>Email Id: s_rd@psy.iitr.ac.in</p>
          <p>Contact No: 8260940906</p>
        </div>
      </div>
      
      <div class="purple-line"></div>
      
      <div class="links">
        <ul>
          <li><a href="/profile">About me</a></li>
          <li><a href="/background">Background</a></li>
          <li><a>Projects</a></li>
          <li><a>Conferences</a></li>
          <li><a>Memberships</a></li>
          <li><a>Work Experience</a></li>
          <li><a>Publications</a></li>
        </ul>
      </div>
 
  