<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs") %>
<body>
<%-include("./partials/header.ejs") %>
<h1>ABOUT US</h1>
<p>dsfkjfdf</p>
<%-include("./partials/footer.ejs") %>
    
</body>
</html>