<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
  <body>
    <%-include("./partials/header.ejs")%>
    <!-- insert stuff here -->

    
    <div class="profile-body">

    <div class="parent">
      <div class="black"></div>
      <div class="white"></div>
      
    </div>
  <div class="profile-top">
    <div class="blank"></div>
    <div class="grey"></div>
    <div class="yellow">
    <%-include("./partials/profilePartial.ejs")%>
    <h4 style="font-weight:400 ;">MY BACKGROUND</h4>
    <ul>

<li>B.F.A. in Sculpture, Raja Ravivarma College of Fine Arts, University of Kerala.</li>
<li>M.F.A in Broadcast Journalism and Video Production with specialization in Visual Media, Amrita Vishwa Vidyapeetham University. </li>
<li>Master of Media Business Management specialization in Visual Media Management,  Institute of Chartered Financial Analysts of India (ICFAI) University. </li>
    </ul>
    


    
  </div>
</div>
    </div>
    <div class="footer">
      <%- include("./partials/footer.ejs")%>
    </div>
  </body>
</html>