<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>
<body>
<%-include("./partials/header.ejs")%>
<form>
    <label>name</label>
    <input>
</form>
<%-include("./partials/footer.ejs")%>
    
</body>
</html>