<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>

  <body>
    <%- include("./partials/header.ejs")%>
    <div class="title_marg image-bg">
      <div class="title_text">
        <h1>Memory and Anxiety Research Group</h1>
      </div>
    </div>
    <div id="Main">
      <!-- <div class="quotation">
        <br /><br />
        <center><i>Quotes come here</i></center>
      </div> -->

      <div class="container">
        <h1>ABOUT US</h1>
        <h2>Psychology:</h2>
        <p>
          <br />&emsp;&emsp;"The discipline of psychology provides students with
          the opportunity to develop an understanding of behavior and experience
          from a variety of theoretical perspectives. The psychology faculty
          specializes in a wide variety of psychological topics including
          general, social and organizational psychology. Courses of general
          interest to undergraduate and doctoral students in the related fields
          are regularly offered with a pragmatic approach on developing research
          skills and understanding human behavior in daily life; enhancing
          relationships, well-being, businesses and their career."
        </p>
      </div>
      <div class="boxes">
        <div class="box">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, harum
          debitis? Blanditiis tempore sapiente placeat reiciendis maxime
          provident amet esse ex saepe reprehenderit? Maxime, enim inventore
          asperiores fugiat nam quae.
        </div>
        <div class="box">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, harum
          debitis? Blanditiis tempore sapiente placeat reiciendis maxime
          provident amet esse ex saepe reprehenderit? Maxime, enim inventore
          asperiores fugiat nam quae.
        </div>
        <div class="box">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit, harum
          debitis? Blanditiis tempore sapiente placeat reiciendis maxime
          provident amet esse ex saepe reprehenderit? Maxime, enim inventore
          asperiores fugiat nam quae.
        </div>
      </div>
    </div>
    <div class="carousel">
      <div class="slider"></div>
    </div>
    <div class="footer">
      <%- include("./partials/footer.ejs")%>
    </div>
    
    
  </body>
</html>
