<!DOCTYPE html>
<html lang="en">
<%-include("./partials/head.ejs")%>

  <body>
    <%- include("./partials/header.ejs")%>
      <div class="title_marg image-bg">
        <div class="memoryAndAnalysisImage"><img src="image/set2 title.png" alt="Couldn't load image" height="553px" width="100%"></div>
        <div class="brainImage"><img src="image/set2 brain.png" alt="Couldn't load image" height="553px" width="100%"></div>
      </div>
      <div class="quotation">
        <center><i>Memory is the treasury and guardian of all things. -Cicero lorem40</i></center>
      </div>
      <div id="Main" style="height: 1000px">


        <div class="container">
          <h1>ABOUT US</h1>
          <h2>Psychology:</h2>
          <p>
            <br />&emsp;&emsp;"The discipline of psychology provides students with
            the opportunity to develop an understanding of behavior and experience
            from a variety of theoretical perspectives. The psychology faculty
            specializes in a wide variety of psychological topics including
            general, social and organizational psychology. Courses of general
            interest to undergraduate and doctoral students in the related fields
            are regularly offered with a pragmatic approach on developing research
            skills and understanding human behavior in daily life; enhancing
            relationships, well-being, businesses and their career."
          </p>


        </div>
        <div class="boxes">
          <div class="box">
            <center>
              <h3 style="font-size: 36px;">News</h3>
            </center><br>
            <div class="inner_boxes">
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
            </div>
            <div class="arrows">
              <button class="leftarrowbutton"><i class="arrow left"></i></button>
              <button class="rightarrowbutton"><i class="arrow right"></i></button>
            </div>
          </div>
          <div class="box">
            <center>
              <h3 style="font-size: 36px;">Blogs</h3>
            </center><br>
            <div class="inner_boxes">
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
            </div>
            <div class="arrows">
              <button class="leftarrowbutton"><i class="arrow left"></i></button>
              <button class="rightarrowbutton"><i class="arrow right"></i></button>
            </div>
          </div>
          <div class="box">
            <center>
              <h3 style="font-size: 36px;">Posts</h3>
            </center><br>
            <div class="inner_boxes">
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
              <div class="inner_box">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt vero in mollitia
                blanditiis, eos nobis consequatur, fuga illo</div>
            </div>
            <div class="arrows">
              <button class="leftarrowbutton"><i class="arrow left"></i></button>
              <button class="rightarrowbutton"><i class="arrow right"></i></button>
            </div>
          </div>
        </div>

      </div>
      <div class="carousel">

      </div>
      <%- include("./partials/footer.ejs")%>

  </body>

</html>
<script>

</script>