@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Noto+Serif&display=swap');


*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /*For smooth scrolling*/
    font-family: 'Jost', sans-serif;
    font-weight: 100;
    /* box-sizing: border-box; */
}

h2{
    font-family: 'Jost', sans-serif;
    font-size: 30px;
}
h3{
    font-family: 'Jost', sans-serif;
    
    font-size: 25px;
}
p{
    /* font-size: larger; */
    font-family: 'Jost', sans-serif;
}
.header {
    background-color: #1f1f1f;
}

#nav_bar{
    /* width: 100%; */
    height: 64px;
    display:flex;
    /* padding: 10px; */
    justify-content: space-between;
    align-items: center;
    color: #1f1f1f;;
    /* background-color: rgb(0, 179, 255); */
}

.nav_item_list :hover {
    text-decoration: underline;
    cursor: pointer;
}
.nav_item_list a{
    text-decoration: none;
    color: white;
}
#div1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:100px;
}
#combinedlogo{
    margin-left: 48px;
}
#nav_items{
    margin: auto;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.nav_item_list{
    padding: 20px;
    font-size: 16px;
    font-weight: bolder;
}

#join_us_button{
    font-size: 16px;
    color: white;
    font-weight: bolder;
    /* background-color: #D7A5FF; */
    padding: 0px 10px;
    /* border: 2px solid #D7A5FF; */
    margin-left: 30px;
    margin-right: 60px;
    border-radius: 7px;
    background: linear-gradient(to right, #A028FF 50%, #D7A5FF 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#join_us_button:hover {
    /* border-width: 4px; */
    /* margin-left: 48px; */
    text-decoration: none !important;
    background-color: #A028FF;
    background-position: left bottom;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    /* border-color: yellow; */
}
.bar{
    display: block;
    width: 25px;
    margin: 5px 0px;
    height: 3px;
    transition: all 0.3s ease;
    background-color: white;
}
/* .bar:hover {
    height: 4px;
    width:30px;
} */
#hamburger_section{
    display: none;

}
@media (max-width:1200px) {
    #hamburger_section{
        display: block;
        justify-self: flex-end;
    }
    /* #nav_menu{
        display: none;
    } */
    #IITRlogo{
        display: none;
    }
    #MARGlogo{
        align-items: center;
        justify-content: center;
    }
    /* #combinedlogo{
        width: 300px;
    } */
    #hamburger_section.active .bar:nth-child(1){
        transform: translateY(8.4px) rotate(45deg);
        /* width: 40px;
        height: 3px; */
    }
    #hamburger_section.active .bar:nth-child(2){
        opacity: 0%;

    }
    #hamburger_section.active .bar:nth-child(3){
        transform: translateY(-8.4px) rotate(-45deg);
        /* width: 40px;
        height: 3px; */

    }
    #nav_bar{
        display: flex;
        flex-direction: column;
    }
    #div2{
        display: none;
        /* left:-100%; */
    }
    #div2.active{
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: #1f1f1f;
        transition: 0.5s ease-in;
        position: relative;
    }
    #nav_items{
        /* top:70px; */
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    #join_us_button{
        margin-left: 0;
    }
    
    

    
}
@media (max-width:1000px){
    .boxes{
        display: flex ;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
}

.title_marg{
    /* margin:200px; */
    width: 100%;
    height: 553px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* justify-content: space-between; */
    
    background-image: url(image/ezgif.com-optimize+\(2\).gif);

/* Background image is centered vertically and horizontally at all times */
background-position: center center;

/* Background image doesn't tile */
background-repeat: no-repeat;

/* Background image is fixed in the viewport so that it doesn't move when
the content's height is greater than the image's height */
background-attachment: fixed;

/* This is what makes the background image rescale based
on the container's size */
background-size: cover;

/* Set a background color that will be displayed
while the background image is loading */
background-color: #1f1f1f;
}
#Main{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    /* margin: 50px 10px;
    padding: 50px; */
}
.quotation{
    background-color: #1f1f1f;
    color: white;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxes{
    /* display: grid;
    grid-template-columns: auto auto auto; */
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:1200px){
    .boxes{
        display: flex;
        flex-direction: column;
    }
}
.box{
    background-color: #F3E4FF;
    width: 411px;
    height: 576px;
    border: 5px #F3E4FF;
    border-style: solid;
    border-width: 5px;
    border-radius: 4px;
    padding: 50px;
    margin: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79); */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

}
/* .box:hover{
    border-width: 0px;
    outline-color: #F3E4FF;
    outline-style: solid;
    outline-width: 2px;
} */
.box h3 {
    font-size: 36px;
}
.inner_boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.inner_box{
    color:white;
    background-color: #260044;
    height: 114px;
    width: 359px;
    box-sizing: border-box;
    padding: 16px;
}
.arrows{
    /* position:inherit; */
    /* bottom: 0;
    right:0; */
    margin-top: 30px;
    justify-self: flex-end;
    align-self: flex-end;
}
.arrow {
    border: solid #260044;
    border-width: 0 6px 6px 0;
    display: inline-block;
    padding: 8px;
  }
  
  .right {
    transform: rotate(-45deg); 
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .leftarrowbutton{
    background-color: #F3E4FF;
    border: none;
  }
  .leftarrowbutton:hover{
    cursor: pointer;
  }
  .rightarrowbutton{
    background-color: #F3E4FF;
    border: none;
  }
  .rightarrowbutton:hover{
    cursor: pointer;
  }


.footer {
    /* width: 100%; */
    background-color: #1f1f1f;
    color: white;
}
.footersection{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #1f1f1f;
    color: white;
}
.footersection h3{
    text-align: center;
    font-family: 'Jost', sans-serif;
}
.footersection ul{
    list-style-type: none;
    text-align: center;
}
.quicklinks a{
    color:white;
    text-decoration: none;
}
.quicklinks a:hover{
    text-decoration: underline;
}
.findus a{
    color: white;
    text-decoration: none;
}
.findus li{
    display: inline;
    margin: 7px;
    border: 2px solid #BBBBBB;
    border-radius: 50%;
    text-align: center;
    
}
.findus li .fa-facebook{
    padding-left: 5px;
    padding-right: 1px;
}
.findus li .fa-instagram{
    padding-left: 5px;
    padding-right:0.5px;
}
.findus li .fa-linkedin{
    padding-left: 4px;
}
.findus li .fa-youtube{
    padding-left: 2px;
    padding-right: 2px;
}
.findus li a .fa-facebook:hover{
    color:rgb(0, 132, 255);
    transition: all 0.5s ease-in;
    
}
.findus li a .fa-instagram:hover{
    color:rgb(255, 7, 222);
    transition: all 0.5s ease-in;
    
}
.findus li a .fa-linkedin:hover{
    color:rgb(0, 132, 255);
    transition: all 0.5s ease-in;
    
}
.findus li a .fa-youtube:hover{
    color:red;
    transition: all 0.5s ease-in;
    
}

.linefooter{
    height: 1px;
    background-color: white;
    width: 90%;
    margin: 5%;
    
}
